[push]
    default = simple
[core]
    editor = /usr/bin/vim
[alias]
    lol = log --pretty=format:\"%C(yellow)%h%Creset%C(cyan)%C(bold)%d%Creset %s\" --abbrev-commit --graph --decorate
    lola = log --pretty=oneline --abbrev-commit --graph --decorate --all
[url "git@github.com:"]
    insteadOf = "https://github.com/"
